@import "reset";
@import "variables";
@import "color";
@import "typography";


.centered {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

.answers {
  margin: 0 .7em .7em;
  padding: .7em;
}

.answers:hover {
  background-color: rgba(255, 255, 255, .8);
  font-weight: 500;
}

#questions {
  font-weight: 600;
}

.feedback-flex {
  display: flex;
  gap: 2em;
  align-items: center;
}

.result {
  flex-grow: 7;
}

.next {
  flex-grow: 1;
  cursor: pointer;
}
